python-3.10

langchain==0.3.25
langchain_community==0.3.24
langchain_chroma==0.2.4
langchain_groq==0.3.2
langchain-huggingface>=0.1.0

transformers>=4.39.0
sentence-transformers==4.1.0
torch==2.1.2  # Compatible with Python 3.10 and 3.11

streamlit==1.45.1
bs4
pypdf
faiss-cpu
ipykernel
python-dotenv

langchain==0.1.14
arxiv
wikipedia
duckduckgo-search
youtube-transcript-api
pytube
cassio
unstructured
