langchain
ipykernel
langchain_community
bs4
pypdf
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
python-dotenv
torch==2.1.0
transformers==4.36.2
sentence-transformers==2.2.2
langchain==0.1.14
arxiv
wikipedia
duckduckgo-search
youtube-transcript-api
pytube
cassio
unstructured